.form-row label {
  width: 100%;
}

.modal-title {
  margin-left: auto;
}

.modal-insert {
  width: 100% !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .modal-insert {
    max-width: 960px !important;
  }
}
@media (min-width: 768px) {
  .modal-insert {
    max-width: 720px !important;
  }
}
@media (min-width: 576px) {
  .modal-insert {
    max-width: 540px !important;
  }
}
